<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>gisWebProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Mapping</servlet-name>
		<servlet-class>mapping.Mapping</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Mapping</servlet-name>
		<url-pattern>/mapping</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Routine</servlet-name>
		<servlet-class>routineProcess.Routine</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Routine</servlet-name>
		<url-pattern>/routine</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestConnection</servlet-name>
		<servlet-class>connectinWithServer.TestConnection</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestConnection</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ArriveTime</servlet-name>
		<servlet-class>emergencyProcess.ArriveTime</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArriveTime</servlet-name>
		<url-pattern>/arriveTime</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FollowUser</servlet-name>
		<servlet-class>emergencyProcess.FollowUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FollowUser</servlet-name>
		<url-pattern>/followUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StopFollow</servlet-name>
		<servlet-class>emergencyProcess.StopFollow</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StopFollow</servlet-name>
		<url-pattern>/stopFollow</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Emergency</servlet-name>
		<servlet-class>emergencyProcess.Emergency</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Emergency</servlet-name>
		<url-pattern>/aroundLocation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cancelEvent</servlet-name>
		<servlet-class>emergencyProcess.cancelEvent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Emergency</servlet-name>
		<url-pattern>/cancelEvent</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>closestEMS</servlet-name>
		<servlet-class>emergencyProcess.closestEMS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Emergency</servlet-name>
		<url-pattern>/closestEMS</url-pattern>
	</servlet-mapping>
</web-app>